.header {
    background-image: url("./assets/background-header.png");
    background-size: cover;
    min-height: 7rem;
}

.font-os {
    font-family: "Oswald";
}

.font-large {
    font-weight: bold;
    font-size: 3rem;
}

.font-thin {
    font-size: 1.5rem;
}

.font-blue {
    color: #08088a;
}

.font-pink {
    color: #af0589;
}

.font-white {
    color: whitesmoke;
}

.border-pink {
    border: 2px solid #af0589;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #af0589;
}

.border-blue {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(90deg, rgba(55, 2, 110, 1) 0%, rgba(6, 5, 75, 1) 100%) border-box;
    border: 4px solid transparent;
}

.border-blue:hover {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(180deg, rgba(40, 249, 255, 1) 0%, rgba(56, 3, 111, 1) 100%) border-box;
    border: 4px solid transparent;
    transition-duration: 2s;
}

.bg-blue {
    background: linear-gradient(90deg, rgba(55, 2, 110, 1) 0%, rgba(6, 5, 75, 1) 100%);
}

.bg-text {
    background-color: #0e085e;
}

.bg-pink {
    background: linear-gradient(90deg, rgba(40, 249, 255, 1) 0%, rgba(56, 3, 111, 1) 100%);
}

.nav-inactive {
    text-decoration: none;
    font-weight: bold;
    color: #af0589;
    font-size: 1.75rem;
}

.nav-inactive:hover {
    color: #ff08cd;
    transition-duration: .5s;
}

.nav-active {
    text-decoration: none;
    font-weight: bold;
    color: #4ffbff;
    font-size: 1.75rem;
}

.nav-active:hover {
    color: #ff08cd;
    transition-duration: .5s;
}

.post-body {
    min-height: 60vh;
}

.button-inactive {
    background: linear-gradient(90deg, rgba(55, 2, 110, 1) 0%, rgba(6, 5, 75, 1) 100%);
    border: none;
    color: gray;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: Oswald;
}

.button-active {
    background: linear-gradient(90deg, rgba(55, 2, 110, 1) 0%, rgba(6, 5, 75, 1) 100%);
    border: none;
    color: #4ffbff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: Oswald;
}

.button-active:hover {
    color: #ff08cd;
    transition-duration: 1s;
}

.text-box {
    height: 200px;
    width: 400px;
}